section.brand
    .brand-item
        img(src="./images/google.svg")
    .brand-item
        img(src="./images/google.svg")
    .brand-item
        img(src="./images/google.svg")
    .brand-item
        img(src="./images/google.svg")
    .brand-item
        img(src="./images/google.svg")