footer.footer
    .footer-content  
        .footer-media
            .footer-img
                img(src="./images/footer_logo1.png", alt="logo")
            p.footer-p.footer-text Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
            .footer-logo 
                img(src="./images/Facebook.png", alt="fb")
                img(src="./images/Twitter.png", alt="tw")
                img(src="./images/Instagram.png", alt="ins")
        .footer-media
            h1.footer-heading Service
            span.footer-text Email Marketing Social 
            span.footer-text Media Marketing Search 
            span.footer-text Engine Optimization 
            span.footer-text Prnelnct Devnionmnni 
            span.footer-text Web Development  
        .footer-media
            h1.footer-heading Support
            span.footer-text Sizicik. Community 
            span.footer-text Support Documents  
            span.footer-text Help:le-Lk API Documents
            span.footer-text 5nvin,es Witus  
            span.footer-text Email Contort    
        .footer-media
            h1.footer-heading Contact Us
            span.footer-text suppariaringrozom 
            span.footer-text (41) 84?-5E2-451 
            span.footer-text North Cry, 547 Link Road. 
    .footer-right 
        span.footer-text All Right Reserved by Us! Copyright 2021 
