footer.footer
    .footer-content  
        .footer-media
            .footer-img
                img(src="./images/footer_logo1.png", alt="logo")
            p Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
            .footer-logo 
                img(src="./images/Facebook.png", alt="fb")
                img(src="./images/Twitter.png", alt="tw")
                img(src="./images/Instagram.png", alt="ins")
        .footer-media
            h1 Service
            span Email Marketing Social 
            span Media Marketing Search 
            span Engine Optimization 
            span Prnelnct Devnionmnni 
            span Web Development  
        .footer-media
            h1 Support
            span Sizicik. Community 
            span Support Documents  
            span Help:le-Lk API Documents
            span 5nvin,es Witus  
            span Email Contort    
        .footer-media
            h1 Contact Us
            span suppariaringrozom 
            span (41) 84?-5E2-451 
            span North Cry, 547 Link Road. 
    .footer-right 
        span.footer-text All Right Reserved by Us! Copyright 2021 
