header.header 
    .navigation 
        img(src="./images/logo.png" class="header-logo")
        include ./menu
        .auth 
            a.button.button--secondary(href="#") Login
            a.button.button--primary(href="#") Sign Up
    .header-main
        .header-content 
            span.global-caption AWARd WINNING COMPANY
            h1.global-heading.global-heading--huge.header-heading We Are The Best Digital Markeing
            p.global-text.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
            .header-action 
                a.button.button--primary(href="!#") Get started
                a.watch-video(href="!#") 
                    .watch-icon
                        img(src="./images/play.png", alt="") 
                    span Watch video
        .header-image 
            img(src="./images/Card&Content.png", alt="")